._icon-arrow-down:before {
	content: "\e900";
	font-family: "icons";
 }
 ._icon-arrow-link:before {
	content: "\e901";
	font-family: "icons";
 }
 ._icon-cart:before {
	content: "\e902";
	font-family: "icons";
 }
 ._icon-favorite:before {
	content: "\e903";
	font-family: "icons";
 }
 ._icon-location:before {
	content: "\e904";
	font-family: "icons";
 }
 ._icon-phone:before {
	content: "\e905";
	font-family: "icons";
 }
 ._icon-search:before {
	content: "\e906";
	font-family: "icons";
 }
 ._icon-send:before {
	content: "\e907";
	font-family: "icons";
 }
 ._icon-share:before {
	content: "\e908";
	font-family: "icons";
 }