.present {
	padding: 152px 0 162px;
	background-image: url("../../../../public/images/block-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	// .present__body
	&__body {
		text-align: center;
	}
	// .present__title
	&__title {
		max-width: 676px;
		margin: 0 auto;
		font-weight: 700;
		font-size: 64px;
		line-height: 130%;
		text-align: center;
		color: #ffffff;
		margin-bottom: 60px;
		@media (max-width: $mobile) {
			font-size: 42px;
			margin-bottom: 30px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 36px;
		}
	}
	// .present__button
	&__button {
		padding: 14.5px 60px;
		@media (max-width: $mobileSmall) {
			padding: 11.5px 92px;
			font-size: 18px;
		}
	}
}
